<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>3DPrintStore</display-name>
  <welcome-file-list>
    <welcome-file>preview.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Registrazione</servlet-name>
    <servlet-class>controller.Registra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrazione</servlet-name>
    <url-pattern>/registrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrazionePrinter</servlet-name>
    <servlet-class>controller.RegistraPrinter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrazionePrinter</servlet-name>
    <url-pattern>/registrazionePrinter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Classifica</servlet-name>
    <servlet-class>controller.classifica</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CambiaPasswordServlet</servlet-name>
    <servlet-class>controller.CambiaPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CambiaPasswordServlet</servlet-name>
    <url-pattern>/cambiaPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AggiornaSaldoServlet</servlet-name>
    <servlet-class>controller.AggiornaSaldo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaSaldoServlet</servlet-name>
    <url-pattern>/aggiornaSaldo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MostraOrdiniServlet</servlet-name>
    <servlet-class>controller.MostraOrdini</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostraOrdiniServlet</servlet-name>
    <url-pattern>/mostraOrdini</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MostraPagamentiServlet</servlet-name>
    <servlet-class>controller.MostraPagamenti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostraPagamentiServlet</servlet-name>
    <url-pattern>/mostraPagamenti</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AggiornaStatoServlet</servlet-name>
    <servlet-class>controller.AggiornaStato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaStatoServlet</servlet-name>
    <url-pattern>/aggiornaStato</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PayoutServlet</servlet-name>
    <servlet-class>controller.Payout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayoutServlet</servlet-name>
    <url-pattern>/payout</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>PagamentoServlet</servlet-name>
    <servlet-class>controller.Pagamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagamentoServlet</servlet-name>
    <url-pattern>/pagamento</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>coinhiveServlet</servlet-name>
    <servlet-class>controller.coinhive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>coinhiveServlet</servlet-name>
    <url-pattern>/coinhive</url-pattern>
  </servlet-mapping>
  
</web-app>